# Site wide configuration

title: "Greg Bumpus"
description: ""
logo: bumpux-logo-120-120.png
teaser: 400x250.gif #400x250 px default teaser image used in image archive grid
locale: en

# over-ride this in _config-local.yml and script it in _run.sh
url:    https://bumpux.github.io 

baseurl: # see https://byparker.com/blog/2014/clearing-up-confusion-around-baseurl/
feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed


# Site owner
owner:
  name:  Greg Bumpus
  email: bumpux@me.com
  twitter: bumpux
  google:
    ad-client:
    ad-slot:
  bio:  
  avatar: bio-photo.jpg # 160x160 px image for author byline
  disqus-shortname: bumpux


include:
  - _pages
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
